<!DOCTYPE html>
<html>
<head lang="en">
	<meta charset="UTF-8">
	<title></title>
	<link type="text/css" media="all" rel="stylesheet" href="Assets/Styles/Main.css" />
</head>
<body>

<header>

</header>

<section id="editorPane">
	<div id="wysiwyg">
		<div id="editorTools">
			<button class="ql-bold">Bold</button>
			<button class="ql-italic">Italic</button>
		</div>
		<div id="editorBox"></div>
	</div>
	<pre id="sourceBox" contenteditable="true"></pre>
</section>

<section id="toolPane">
	<h2 class="display-none">Tool Pane</h2>
	<a class="display-block hideLink"><span>&gg;</span></a>
	<a class="display-block showLink"><span>&ll;</span></a>
</section>

<!-- Vendor Includes -->
<script type="text/javascript" src="Assets/Scripts/jquery-2.1.3.min.js"></script>
<script type="text/javascript" src="Assets/Scripts/jquery-ui.min.js"></script>
<script type="text/javascript" src="Assets/Scripts/angular.min.js"></script>
<script type="text/javascript" src="Assets/Scripts/quill.js"></script>

<script>
	(function() {
		var $sourceBox = $('#sourceBox');
		var quill = new Quill(
			'#editorBox',
			{

			}
		);
		quill.addModule('toolbar', {container: '#editorTools'});
		quill.on('text-change', function() {
			if (document.activeElement.id != 'sourceBox') {
				$sourceBox.html(htmlencode(quill.getHTML()));
			}
		});

		$sourceBox.keyup(function(){

			var html = $(this).html();
			var cleaned = $('<div>').html(html).text();
			console.log(cleaned);
			quill.setHTML(cleaned);
		});

		function htmlencode(str) {
			return str.replace(/[&<>"']/g, function($0) {
				return "&" + {"&":"amp", "<":"lt", ">":"gt", '"':"quot", "'":"#39"}[$0] + ";";
			});
		}
		function htmldecode(str)
		{
//			return str.replace(/&lt;(?:t(?:d|r|able|body|head)|b|i|u|s(?:u(?:b|p)|pan)|div)(?:(?:\s+)(?:(?:class|id)=(&(?:quot|apos|#39);)\w+(?:\1)))*&gt;/g, function($))
		}
	})();

	(function(){
		var $ui;
		var $config;

		function init()
		{
			$config = {};
			$config.toolBarWidth = 250;
			$config.bufferWidth  = 8;
			$config.easing       = 'easeInOutExpo';
			$config.easeTime     = 400;

			$ui = {};
			$ui.window   = $(window);
			$ui.pane1    = $('#editorPane');
			$ui.pane2    = $('#toolPane');
			$ui.toolBar  = $('header');
			$ui.showLink = $ui.pane2.find('a.showLink');
			$ui.hideLink = $ui.pane2.find('a.hideLink');

			initPosition();
			initBindings();
		}

		function initPosition()
		{
			var toolbar  = $ui.toolBar.height();
			var height   = $ui.window.height() - toolbar;
			var buffered = ($config.toolBarWidth + $config.bufferWidth) + 'px';

			$ui.pane1.css('right', buffered).height(height).css('top', toolbar);
			$ui.pane2.width($config.toolBarWidth + 'px').height(height).css('top', toolbar);
			$ui.showLink.css('right', '-' + ($ui.showLink.width() + $config.bufferWidth) + 'px');
		}

		function initBindings()
		{
			$ui.hideLink.click(collapseTools);
			$ui.showLink.click(showTools);
			$ui.window.on('resize', initPosition());
		}

		function expandShow()
		{
			var width = $ui.pane2.width() + $config.bufferWidth;
			$ui.showLink.animate({right: width + 'px'}, $config.easeTime/2, $config.easing);
		}

		function showTools()
		{
			var width = $ui.showLink.width() + $config.bufferWidth;
			$ui.showLink.animate(
				{'right': '-' + width + 'px'},
				$config.easeTime/2,
				$config.easing,
				function() {
					$ui.pane1.animate(
						{'right': ($config.toolBarWidth + $config.bufferWidth) + 'px'},
						$config.easeTime,
						$config.easing
					);
					$ui.pane2.animate(
						{'right': '0px'},
						$config.easeTime,
						$config.easing
					);
			});
		}

		function collapseTools()
		{
			var width = $ui.pane2.width();
			var right = $ui.showLink.width() + $config.bufferWidth;
			$ui.pane2.animate({'right': '-' + (width + $config.bufferWidth) + 'px'}, $config.easeTime, $config.easing, expandShow);
			$ui.pane1.animate({'right': right + 'px'}, $config.easeTime, $config.easing);
		}

		init();
	})();
</script>
</body>
</html>
